doctype 5
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
		style(media='print')
			body {
				background-image: url(http://gary.baixing.com/print-tracking-bg);
			}
	body
		block content